@font-face {
  font-family: "zonapro-black--bold";
  src: url("./FONTS/zonapro-bold-webfont.woff2") format("woff2"),
    url("./FONTS/zonapro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "zonapro-black--normal";
  src: url("./FONTS/zonapro-regular-webfont.woff2") format("woff2"),
    url("./FONTS/zonapro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --font-family-bold: "zonapro-black--bold", sans-serif;
  --font-family-normal: "zonapro-black--normal", sans-serif;
  --primary-color: #449545;
  --primary-light: #9bc7a7;
  --primary-dark: #255939;
}

body {
  font-family: var(--font-family-normal);
  position: relative;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

::placeholder {
  font-family: var(--font-family-normal);
}

/* Sets the maxwidth of the page*/
.max__width {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

/* HERO SECTION START*/
.hero__section {
  height: 100vh;
  padding: 4.9rem 10rem 12rem 10rem;
}

.hero__logo--section {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero__logo--section img {
  max-width: 15rem;
  min-width: 10rem;
}

/* Hero Main Section Start*/
.hero__main--section {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  /* border: 2px solid red; */
}
.hero__textarea {
  -webkit-box-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  gap: 2rem;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero__textarea h1 {
  font-family: var(--font-family-bold);
  position: relative;
  font-size: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--primary-color)),
    color-stop(var(--primary-color)),
    color-stop(var(--primary-color)),
    color-stop(var(--primary-dark)),
    color-stop(var(--primary-dark)),
    to(var(--primary-dark))
  );
  background-image: -o-linear-gradient(
    top,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-dark),
    var(--primary-dark),
    var(--primary-dark)
  );
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-dark),
    var(--primary-dark),
    var(--primary-dark)
  );
  font-weight: bold;
  padding: 1.5rem 0;
  letter-spacing: 0.5%;
}

.hero__textarea h1:after {
  position: absolute;
  content: "";
  bottom: 0%;
  left: 0;
  width: 30%;
  height: 2px;
  background: #f5cc65;
  border-radius: 5px;
}
.hero__textarea p {
  font-size: 2.4rem;
  line-height: 3.36rem;
  letter-spacing: 5%;
  font-weight: 300;
}

.hero__textarea form {
  position: relative;
  width: 100%;
}

.hero__textarea form input {
  width: 90%;
  padding: 2rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 30px;
  font-size: 1.5rem;
}

input {
  font-family: var(--font-family);
}

input:focus {
  outline: none;
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.hero__textarea button {
  padding: 1.5rem 5rem;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 9.5%;
  cursor: pointer;
  background: #f5cc65;
  border: none;
  font-family: var(--font-family);
  font-size: 1.6rem;
  -webkit-transition: background ease-in 0.2s;
  -o-transition: background ease-in 0.2s;
  transition: background ease-in 0.2s;
  margin-right: 10px;
}

.hero__textarea button:hover {
  background: #ddb85b;
}

.hero__textarea .error--message {
  position: absolute;
  bottom: -3rem;
  left: 2rem;
  color: red;
  font-size: 1.3rem;
  display: none;
}

.hero--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 2rem 0;
  margin-top: 3rem;
}

.hero--socials li {
  font-size: 2.5rem;
}

.hero--socials li a {
  color: #282d2b;
}
.hero--socials li a:hover {
  color: var(--primary-color);
}
/* Hero Main Section End*/

/* Hero Image Section Start */
.hero__img {
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__img img {
  width: 40rem;
}
/* Hero Image Section End */

.circular--design {
  position: fixed;
  width: 30rem;
  height: 30rem;
  bottom: -15rem;
  right: -15rem;
  border-radius: 50%;
  background: var(--primary-color);
}

/* MEDIA QUERIES */
/* 1300px and above */
@media (min-width: 81.25em) {
  .hero__img img {
    width: 100%;
  }
}

/* 1300px and below */
@media (max-width: 81.25em) {
  html {
    /* 10px per rem */
    font-size: 62.5%;
  }

  .hero__main--section {
    gap: 0rem;
  }
}

/* 1200px and below */
@media (max-width: 75em) {
  .hero__textarea h1 {
    font-size: 4.5rem;
  }
}

/* Below 1200 width and 700px height */
/* @media (max-width: 75.1em) and (max-height: 43.75em) {
  .hero__textarea h1 {
    font-size: 4rem;
  }

  .hero__textarea p {
    font-size: 2.1rem;
  }
} */
/* Below 1200 width and 600px height */
/* @media (max-width: 75.1em) and (max-height: 37.5em) {
  .hero__textarea p {
    font-size: 2.2rem;
  }
} */

/* Below 1100 width and 600px height */
/* @media (max-width: 70em) and (max-height: 43.75em) {
  .hero__textarea p {
    font-size: 1.8rem;
  }
} */

/* Below 1100 width and 600px height */
/* @media (max-width: 70em) and (max-height: 37.5em) {
  .hero__textarea h1 {
    font-size: 4rem;
  }
  .hero__textarea p {
    font-size: 1.8rem;
  }
  .hero__textarea form input {
    width: 100%;
  }
  .hero__textarea button {
    right: 0;
  }
  .hero__img img {
    width: 30rem;
  }
} */

/* 1000px and below */
@media (max-width: 62.5em) {
  html {
    /* 9px per rem */
    font-size: 56.25%;
  }

  .hero__logo--section {
    height: 5%;
  }

  .hero__main--section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .hero__section {
    padding-bottom: 5rem;
  }

  .hero__textarea {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
  }

  .hero__textarea form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero__textarea form input {
    width: 70%;
  }

  .hero__textarea button {
    right: 14.5%;
  }

  .hero__img img {
    width: 25rem;
  }
}

/* Below 1000px witdth and 700px height */
/* @media (max-width: 62.5em) and (max-height: 43.75em) {
  .hero__textarea {
    gap: 1rem;
  }

  .hero--socials {
    margin-top: 0;
  }
} */

/* Below 1000px witth and 600px height */
/* @media (max-width: 62.5em) and (max-height: 37.5em) {
  .hero__textarea form input {
    width: 60%;
  }

  .hero__textarea button {
    right: 20%;
  }

  .hero__img img {
    width: 20rem;
  }
} */

/* Below 1000px witdth and 500px height */
/* @media (max-width: 62.5em) and (max-height: 31.25em) {
  .hero__main--section {
    flex-direction: row;
  }

  .hero__logo--section {
    margin-bottom: 0;
  }

  .hero__textarea h1 {
    font-size: 4rem;
  }
  .hero__textarea p {
    font-size: 2rem;
  }

  .hero__textarea form input {
    width: 100%;
  }

  .hero__textarea button {
    right: 0%;
  }
  .hero__img img {
    width: 40rem;
  }
} */

/* Below 900px witdth and 600px height */
/* @media (max-width: 56.25em) and (max-height: 37.5em) {
  .hero__textarea form input {
    width: 80%;
  }
  .hero__textarea button {
    right: 10%;
  }

  .hero__textarea form input {
    width: 70%;
  }

  .hero__textarea button {
    right: 15%;
  }
} */

/* Below 900 width and 600px height */
@media (max-width: 56.25em) and (max-height: 37.5em) {
}

/* Below 900px witdth and 500px height */
/* @media (max-width: 56.25em) and (max-height: 31.25em) {
  .hero__textarea p {
    font-size: 1.8rem;
  }
  .hero__img img {
    width: 32rem;
  }
} */

/* 700px and below */
@media (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
  .hero__section {
    padding: 2rem;
  }

  .hero__textarea {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .hero--socials {
    margin-top: 0rem;
    gap: 3rem;
  }

  .hero--socials li {
    font-size: 3rem;
  }

  .hero__logo--section {
    margin-bottom: -1rem;
  }
}

/* Below 700px witdth and 600px height*/
/* @media (max-width: 43.75em) and (max-height: 37.5em) {
  .hero__img img {
    width: 20rem;
  }
} */
/* Below 700px witdth and 500px height */
/* @media (max-width: 43.75em) and (max-height: 31.25em) {
  .hero__img img {
    width: 22rem;
  }
} */
@media (max-width: 37.5em) {
  .hero__logo--section img {
    max-width: 15rem;
  }
}

/* Below 600px witdth and 700px height*/
@media (max-width: 37.5em) and (max-height: 43.75em) {
  /* .hero__logo--section img {
    max-width: 10rem;
  } */
  /* .hero__textarea form input {
    width: 90%;
  }

  .hero__textarea button {
    right: 5%;
  } */
}

/* Below 600px witdth and 600px height */
/* @media (max-width: 37.5em) and (max-height: 37.5em) {
  .hero__textarea form input {
    width: 70%;
  }

  .hero__textarea button {
    right: 15%;
  }
} */

/* Below 600px witdth and 500px height */
/* @media (max-width: 37.5em) and (max-height: 31.25em) {
  .hero__img img {
    width: 17rem;
  }
  .hero__main--section {
    flex-direction: column-reverse;
  }
  .hero__textarea form input {
    width: 70%;
  }
  .hero__textarea button {
    right: 15%;
  }
} */

/* 500px and below */
@media (max-width: 31.25em) {
  /* 7px per rem */
  html {
    font-size: 43.75%;
  }

  .hero__logo--section img {
    max-width: 15rem;
  }

  .hero__textarea {
    align-items: flex-start;
    gap: 2.5rem;
  }

  .hero__textarea h1 {
    font-size: 5rem;
  }

  .hero__textarea h1:after {
    height: 1px;
  }

  .hero__textarea p {
    font-size: 2.2rem;
  }

  .hero__textarea form {
    justify-content: flex-start;
  }
  .hero__textarea form input {
    width: 90%;
  }

  .hero__textarea button {
    margin-right: 5px;
    right: 10%;
    padding: 1.5rem 3rem;
  }

  .hero--socials {
    margin-top: 1rem;
  }

  .hero__img img {
    width: 30rem;
  }
}

/* Below 500px witdth and 700px height */
/* @media (max-width: 31.25em) and (max-height: 43.75em) {
  .hero__textarea button {
    padding: 1.5rem 3rem;
  }

  .hero__textarea form input {
    width: 95%;
  }
  .hero__textarea button {
    right: 5%;
  }
} */
/* Below 510px witdth and 600px height */
/* @media (max-width: 31.3em) and (max-height: 39em) {
  .hero__img img {
    width: 30rem;
  }
  .hero__textarea form input {
    width: 90%;
  }

  .hero__textarea button {
    right: 10%;
  }
} */

/* Below 500px width and 400px height */
/* @media (max-width: 31.25em) and (max-height: 25em) {
  .hero__img img {
    width: 15rem;
  }
} */

/* Below 450px witdth and 700px height */
/* @media (max-width: 28.125em) and (max-height: 43.75em) {
  .hero__textarea p {
    font-size: 2.25rem;
  }

  .circular--design {
    width: 20rem;
    height: 20rem;
    bottom: -10rem;
    right: -10rem;
  }
} */

/* Below 450px witdth and 600px height */
/* @media (max-width: 28.125em) and (max-height: 37.5em) {
  .hero__textarea p {
    font-size: 2.2rem;
  }

  .hero__textarea form input {
    width: 100%;
  }
  .hero__textarea button {
    right: 0%;
  }
} */

/* Below 400px witdth and 500px height */
@media (max-width: 25em) and (max-height: 31.25em) {
  .hero__img img {
    width: 20rem;
  }
}

/* Below 500px witdth and 550px height */
@media (max-width: 31em) and (max-height: 36em) {
  .hero__textarea p {
    font-size: 2rem;
  }

  .hero__textarea form input {
    width: 100%;
  }

  .hero__textarea button {
    right: 0%;
  }

  .hero__img img {
    width: 16rem;
  }

  .hero--socials {
    margin-top: 0rem;
    padding: 0;
  }

  .circular--design {
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
    right: -5rem;
  }
}
/* Below 400px witdth */
@media (max-width: 25em) {
  .hero__textarea h1 {
    font-size: 4rem;
  }
  .hero__textarea p {
    font-size: 1.9rem;
  }
}

/* 350px and below */
@media (max-width: 21.875em) {
  /* 6px per rem */
  html {
    font-size: 37.5%;
  }

  .hero__textarea h1 {
    font-size: 4.5rem;
  }

  .hero__textarea p {
    font-size: 2rem;
  }
}

/* 350px and 500px */
/* @media (max-width: 21.875em) and (max-height: 31.25em) {
  .hero__img img {
    width: 23rem;
  }
} */

/* Below 500px height */
@media (max-height: 31.25em) {
  /* .hero__img img {
    width: 18rem;
  } */

  /* .circular--design {
    width: 20rem;
    height: 20rem;
    bottom: -10rem;
    right: -10rem;
  } */
}
/* Below 450px height */
@media (max-height: 28.125em) {
  /* .hero__img img {
    width: 20rem;
  } */
}

/* 310px and below */
@media (max-width: 19.75em) {
  .hero__textarea h1 {
    font-size: 4rem;
  }
  .hero__textarea button {
    padding: 1.5rem 3rem;
  }
  .hero__textarea p {
    font-size: 1.8rem;
  }
}

/* Max Width 500px and Max Height 900px */
@media (max-width: 31.25em) and (max-height: 56.25em) {
  .circular--design {
    width: 15rem;
    height: 15rem;
    bottom: -7.5rem;
    right: -7.5rem;
  }
}
